In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"E:\DA_Data\framingham.csv")

In [3]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [4]:
def f2(x):
    if(x>50):
        return "sc"
    else:
        return "y"

In [5]:
df["age_updated"]=df["age"].apply(lambda x:f2(x))

In [6]:
df.head(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_updated
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,y
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,y
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0,y
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,sc
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,y
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0,y
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1,sc
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0,y
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0,sc
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0,y

In [7]:
def f3(x):
    if(x==0):
        return "nhi pita"
    else:
        return "Piakkad"

In [8]:
df["currentSmoker"]=df["currentSmoker"].apply(lambda x:f3(x))

In [9]:
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_updated
0,1,39,4.0,nhi pita,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,y
1,0,46,2.0,nhi pita,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,y
2,1,48,1.0,Piakkad,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0,y
3,0,61,3.0,Piakkad,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,sc
4,0,46,3.0,Piakkad,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,Piakkad,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0,y
4236,0,44,1.0,Piakkad,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0,y
4237,0,52,2.0,nhi pita,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0,sc
4238,1,40,3.0,nhi pita,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0,y
4239,0,39,3.0,Piakkad,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0,y

In [10]:
def f3(x):
    if(x==0):
        return "sc"
    else:
        return "y"

# select_dtypes

In [11]:
df.dtypes

male                 int64
age                  int64
education          float64
currentSmoker       object
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
age_updated         object
dtype: object

In [14]:
num_index=df.select_dtypes(include=["int64","object"]).columns

In [15]:
num_index

Index(['male', 'age', 'currentSmoker', 'prevalentStroke', 'prevalentHyp',
       'diabetes', 'TenYearCHD', 'age_updated'],
      dtype='object')

In [16]:
subset=df[num_index]

In [17]:
subset

,male,age,currentSmoker,prevalentStroke,prevalentHyp,diabetes,TenYearCHD,age_updated
0,1,39,nhi pita,0,0,0,0,y
1,0,46,nhi pita,0,0,0,0,y
2,1,48,Piakkad,0,0,0,0,y
3,0,61,Piakkad,0,1,0,1,sc
4,0,46,Piakkad,0,0,0,0,y
...,...,...,...,...,...,...,...,...
4235,0,48,Piakkad,0,0,0,0,y
4236,0,44,Piakkad,0,0,0,0,y
4237,0,52,nhi pita,0,0,0,0,sc
4238,1,40,nhi pita,0,1,0,0,y
4239,0,39,Piakkad,0,0,0,0,y

In [18]:
df.query("age>39")

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_updated
1,0,46,2.0,nhi pita,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,y
2,1,48,1.0,Piakkad,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0,y
3,0,61,3.0,Piakkad,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,sc
4,0,46,3.0,Piakkad,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,y
5,0,43,2.0,nhi pita,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4234,1,51,3.0,Piakkad,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0,sc
4235,0,48,2.0,Piakkad,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0,y
4236,0,44,1.0,Piakkad,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0,y
4237,0,52,2.0,nhi pita,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0,sc
4238,1,40,3.0,nhi pita,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0,y